<article class="media">
    {% if review.avatar %}
    <figure class="media-left">
        <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    {% endif %}
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ review.name }}</strong> <small>{{ review.date }}</small>
          <br>
          {{ review.title }}
          <br>
          {{ review.description }}
        </p>
      </div>
    </div>
  </article>